
%table
  - settings(:greeting).split(" ").each do |word|
    %tr
      - word.split(//).each do |letter|
        %td
          - random_img(letter)
          
.quiet.right
  photos by <a href="http://www.flickr.com/doncarloknute/">doncarlo</a> (me), <a href="http://www.flickr.com/lwr">Leo Reynolds</a>, <a href="http://www.flickr.com/ginapina/">gina pina</a>, <a href="http://www.flickr.com/dave77459/">Dave77459</a>, <a href="http://www.flickr.com/callmepuma/">PUMA</a><br />
  thanks to <a href="http://mrflip.com">mrflip</a><br />
  go get <a href="http://github.com/mrflip/birthdaycardy">the code</a> <br />
  to make your own card
  
